<div class="container">
  <div class="form-container">
    <div class="form-wrapper glass">
      <h1>Sign up</h1>
      <form [formGroup]="loginForm" (ngSubmit)="handleSubmit($event)">
        <div class="form-group">
          <label for="username">
            <span>Username:</span>
            <input type="text" id="username" formControlName="username" autocomplete="username"
              [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" />
            <div class="form-error" [class.is-error]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
              <span>Username musst contain between 3 and 32 letters or numbers.</span>
            </div>
          </label>
        </div>

        <div class="form-group">
          <label for="email">
            <span>E-Mail:</span>
            <input type="text" id="email" formControlName="email" autocomplete="email"
              [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" />
            <div class="form-error" [class.is-error]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              <span>E-Mail is not valid.</span>
            </div>
          </label>
        </div>

        <div class="form-group">
          <label for="password">
            <span>Password:</span>
            <input type="password" id="password" formControlName="password" autocomplete="new-password"
              [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" />
            <div class="form-error" [class.is-error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              <span>Password musst contain between 6 and 63 letters or numbers.</span>
            </div>
          </label>
        </div>

        <div class="form-group">
          <label for="password-repeat">
            <span>Repeat Password:</span>
            <input type="password" id="password-repeat" formControlName="password_repeat" autocomplete="new-password"
              [class.is-invalid]="loginForm.get('password_repeat')?.invalid && loginForm.get('password_repeat')?.touched || loginForm.errors?.['PasswordNotMatch']" />
            <div class="form-error" [class.is-error]="loginForm.get('password_repeat')?.invalid && loginForm.get('password_repeat')?.touched || loginForm.errors?.['PasswordNotMatch']">
              <span>Passwords dont't match.</span>
            </div>
          </label>
        </div>

        <div class="form-group">
          <button type="submit" [disabled]="loginForm.invalid">Submit</button>
        </div>

        <div class="form-group">
          <div class="signin-wrapper">
            <span>Already have an account?</span><a routerLink="/signin">Sign in</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
